* {
    color: aliceblue !important;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.divMain1 {
    background-color: black;
}

.hover-item:hover {
    color: #00F0DD !important;
    border-bottom: 2px solid #12e5e5;
    padding-bottom: 3px;
}

.c-blue {
    color: #00F0DD !important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.div1 {
    border: 3px solid #00f0dc8d;
    box-shadow: 1px 1px 25px #00F0DD;
    border-radius: 50%;
    width: 350px;
    height: 350px;
}

.img1 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.div1:hover {
    box-shadow: 1px 1px 70px #00F0DD;
    transition: 0.4s;
}

@media(max-width: 430px) {
    .div1 {
        width: 200px;
        height: 200px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1070px) {
    .div1 {
        width: 300px;
        height: 300px;
    }
}

.border {
    border: 2px solid white !important;
}

.t-bold {
    font-weight: bold;
}

.icon-Div {
    border: 2px solid #00F0DD;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-Div:hover {
    background-color: #00F0DD;
    width: 45px;
    height: 45px;
    transition: 0.4s;
    box-shadow: 1px 1px 25px #00F0DD;
}

.icon-Div:hover .bi-linkedin {
    color: white !important;
}

.icon-Div:hover .bi-github {
    color: white !important;
}

.icon-Div:hover .bi-instagram {
    color: white !important;
}

.icon-Div:hover .bi-twitter-x {
    color: white !important;
}

.icon-Main-div {
    display: flex;
    gap: 10px;
}

.bi-linkedin,
.bi-github,
.bi-instagram,
.bi-twitter-x {
    color: #00F0DD !important;

}

.btn-1 {
    background-color: #00F0DD;
    color: black !important;
    width: 90px;
    height: 35px;
    border-radius: 20px;
    border: none;
    margin-top: 25px;
    font-size: 20px;
    box-shadow: 1px 1px 25px #00F0DD;
    margin-right: 10px;
}

.btn-1:hover {
    box-shadow: 1px 1px 35px #00F0DD;
    width: 93px;
    height: 38px;
    transition: 0.4s;
}

.btn-2:hover {
    background-color: #00F0DD;
    transition: 0.4s;
    color: black !important;
    box-shadow: 1px 1px 35px #00F0DD;
    width: 95px;
    height: 40px;
}

.btn-2 {
    width: 90px;
    height: 35px;
    border-radius: 20px;
    background: none;
    color: #00F0DD !important;
    border: 2px solid #00F0DD;
}

.para-Edu {
    font-size: 45px;
}

.navbar-div {
    background-color: black;
    position: fixed;
}

.text-Edu {
    border: 2px solid #00F0DD;
    box-shadow: 1px 1px 9px #00F0DD;
    border-radius: 150px;
    width: 600px;
    height: 230px;
    margin: auto;
    cursor: pointer;
}

@media(min-width: 630px) {
    .text-Edu:hover {
        width: 610px;
        height: 240px;
        padding-top: 30px !important;
        box-shadow: 1px 1px 25px #00F0DD;
        transition: 0.4s;
    }
}

@media(max-width: 600px) {
    .text-Edu {
        width: 90%;
        height: 90%;
        border-radius: 20px;
    }
}

.para1 {
    margin-top: 15px;
}

.para2 {
    color: #BBBBBB !important;
    font-size: 15px;
}

.div2 {
    width: 500px;
    border-radius: 10px;
    border: 2px solid #00F0DD;
    box-shadow: 1px 1px 25px #00F0DD;
    background-color: #00F0DD;
    padding: 30px;
    cursor: pointer;
}

@media(max-width: 500px) {
    .div2 {
        padding: 15px;
    }
}

@media(max-width: 550px) {
    .div2 {
        width: 90%;
        height: 90%;
        border-radius: 20px;
    }
}

@media(min-width: 550px) {
    .div2:hover {
        background-color: white;
        transition: 0.4s;
        border: 2px solid white;
        box-shadow: 1px 1px 25px white;
        padding: 40px;
    }
}

.para4 {
    color: black !important;
}

.para5 {
    color: black !important;
}

.para3 {
    font-size: 50px;
    font-weight: bolder;
}

@media(min-width: 550px) {
    .div3 {
        width: 430px;
        margin-left: 10px;
    }
}

.img2 {
    width: 100%;
    height: 100%;
    box-shadow: 1px 1px 20px rgba(237, 233, 233, 0.5);
    border-radius: 10px;
}

.img2:hover {
    box-shadow: 1px 1px 50px rgba(237, 233, 233, 0.5);
}

.div4 {
    padding: 15px;
}

.div4:hover {
    padding: 10px;
    transition: 0.4s;
}

.para6 {
    text-decoration: none !important;
}

.para6:hover {
    text-decoration: underline !important;
    text-decoration-color: #BBBBBB !important;
}

.para7 {
    color: #BBBBBB !important;
}

.bi-star-fill,
.bi-star-half {
    color: gold !important;
}

.div5 {
    gap: 10px;
    display: flex;
}

.div6 {
    border: 2px solid #00F0DD;
    box-shadow: 1px 1px 6px #00F0DD;
    border-radius: 20px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div7 {
    outline: none;
    background: none;
    border: none;
    width: 95%;
    height: 40px;
    font-size: 17px;
    color: #BBBBBB !important;
}

.div7::-webkit-input-placeholder {
    color: #BBBBBB;
}

.div8 {
    width: 100%;
    height: 80%;
    background: none;
    border: 2px solid #00F0DD;
    border-radius: 20px;
    outline: none;
    color: #BBBBBB !important;
    box-shadow: 1px 1px 6px #00F0DD;
}

.btn-3 {
    width: 120px;
    height: 40px;
    border-radius: 20px;
    background: none;
    border: 2px solid #00F0DD;
    font-size: 13px;
    font-weight: bold;
    color: #00F0DD !important;
    box-shadow: 1px 1px 15px #00F0DD;
}

.btn-3:hover {
    border: none;
    background-color: #00F0DD;
    transition: 1s;
    color: black !important;
}

.para8 {
    font-weight: bolder;
    font-size: 50px;
}

.div9 {
    background-color: #0F0F0F;
    /* display: flex; */
    /* justify-content: center; */
}

.para9 {
    color: #BBBBBB !important;
}

.para10 {
    color: #BBBBBB !important;
}

.para9:hover {
    text-decoration: underline !important;
}

.para11 {
    color: #00F0DD !important;
    font-size: 50px;
}

.div10 {
    text-align: center;
}

@media(min-width: 450px) {
    .div10 {
        display: flex;
        justify-content: center !important;
    }
}
@media(max-width: 450px) {
    .para12{
        margin-top: 10px;
    }
}

/* Pop Up */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #00F0DD !important;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 500px;
    box-shadow: 1px 1px 25px #00F0DD;
}

.close {
    color: black !important;
}

.close1 {
    color: black !important;
}

.close {
    cursor: pointer;
    font-size: 18px;
    position: absolute;
    top: 10px;
    right: 10px;
}